/* src/Table.css */
.table-container {
    overflow-x: auto;
    margin: 20px;
    border: #c9c7c7 solid 1px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th,
td {
    padding: 16px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    position: sticky;
     top: 0;
    z-index: 1;
   
}

tr:hover {
    background-color: #dcedc8;
}

.cliam-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cliam-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* / src/Table.css or buttons.css / */
 .userTask-button {
    display: flex;
     justify-content: center;
      margin: 20px 0;
}

.unasign-btn,
.asign-btn {
    margin: 0 10px;
}

button {
    padding: 12px 20px;
   border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
     transform: translateY(-2px);
}

button.active {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}

.eye-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: transparent;

    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.eye-btn:hover {
    background-color: transparent;
    transform: translateY(-2px);
}

button:focus {
    outline: none;
}

.userTask-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.unasign-btn,
.asign-btn {
    margin: 0 10px;
}

.userTask-button button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.userTask-button button:hover {
    background-color: #0056b3;
}

.userTask-button button.active {
    background-color: #aed581;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



/* @media (max-width: 600px) {
    th, td {
      display: block;
      text-align: right;
    }
  
    th {
      position: absolute;
      left: -9999px;
    }
  
    td {
      text-align: left;
      padding-left: 50%;
      position: relative;
    }
  } */