.cart-img{
    width: 100px;
    height: 60px;
}
.cart-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.headings {
    display: flex;
    flex-direction: column;
    width: 250px; 
    max-width: 250px; 
}

.headings p {
    font-weight: 600;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px; 
}
